<launch>

<node name="mcl" pkg="rgtSLAM" type="mcl" output="screen">
        # SUBSCRIBE
        <remap from="/mcl/node" to="/node"/>
        <remap from="/mcl/initPose" to="/initPose"/>
        # PUBLISH
        <remap from="/mcl/pose" to="/estimatedPose" />
        <remap from="/mcl/lidar" to="/viz_mcl_lidar" />
        <remap from="/mcl/particles"  to="/viz_mcl_particles" />
        <remap from="/mcl/mclInfo"  to="/mclInfo" />
</node>

<rosparam command="load" file="$(find rgtSLAM)/conf/seromoNavigation.yaml" />

</launch>
