<launch>

<node name="loopmatcher" pkg="rgtSLAM" type="loopmatcher" output="screen">
    # SUBSCRIBE
    <remap from="/loopmatcher/candidate" to="/candidate"/> # rgtSLAM::matcher
    #PUBLISH
    <remap from="/loopmatcher/matchingOutput" to="/result"/> # rgtSLAM::matcher
</node>


<rosparam command="load" file="$(find rgtSLAM)/conf/seromo.yaml" />

</launch>
