<launch>
    <param name="/use_sim_time" value="true" />

    <rosparam command="load" file="$(find rgtSLAM)/conf/seromo.yaml" />

    <node name="lidarconv" pkg="rgtSLAM" type="laser2point.py" output="screen">
        # SUBSCRIBE
        <remap from="/lidar/laserscan" to="/scan" />
        # PUBLISH
        <remap from="/lidar/ptcl" to="/scan/ptcl"/>
    </node>

    <node name="synchronizer" pkg="rgtSLAM" type="synchronizer" output="screen">
        # SUBSCRIBE
        <remap from="synchronizer/depth" to="/camera/depth/color/points" />
        <remap from="synchronizer/laser" to="/scan/ptcl" />
        <remap from="synchronizer/odom"  to="/odom" />
        # PUBLISH
        <remap from="synchronizer/synced" to="/synced"/>
    </node>

    <node name="mapper" pkg="rgtSLAM" type="mapper" output="screen">
        # SUBSCRIBE
        <remap from="mapper/synced" to="/synced" />
        <remap from="mapper/mode" to="/mode" />
        <remap from="mapper/match/result"  to="/match/result" />
        <remap from="mapper/solve/result"  to="/solve/result" />
        # PUBLISH
        <remap from="mapper/match/request" to="/match/request"/>
        <remap from="mapper/solve/request" to="/solve/request"/>
    </node>
</launch>
