<launch>
    <param name="/use_sim_time" value="true" />

    <rosparam command="load" file="$(find rgtSLAM)/conf/seromoNavigation.yaml" />

    <node name="lidarconv" pkg="rgtSLAM" type="laser2point.py" output="screen">
        # SUBSCRIBE
        <remap from="/lidar/laserscan" to="/scan" />
        # PUBLISH
        <remap from="/lidar/ptcl" to="/scan/ptcl"/>
    </node>

    <node name="mcl" pkg="rgtSLAM" type="mcl" output="screen">
        # SUBSCRIBE
        <remap from="/mcl/node" to="/node"/>
        <remap from="/mcl/initPose" to="/initPose"/>
        # PUBLISH
        <remap from="/mcl/pose" to="/estimatedPose" />
        <remap from="/mcl/lidar" to="/viz_mcl_lidar" />
        <remap from="/mcl/particles"  to="/viz_mcl_particles" />
        <remap from="/mcl/mclInfo"  to="/mclInfo" />
    </node>

    <node name="pathfollow" pkg="rgtSLAM" type="pathfollow" output="screen">
        # SUBSCRIBE
        <remap from="/pathfollow/waypoint" to="/waypoint"/>
        # PUBLISH
        <remap from="/pathfollow/control" to="/control"/>
</node>

</launch>
